.grid-container {
  display: grid;
  aspect-ratio: 1;
}

.row-container {
  aspect-ratio: 1;
  grid-row: 1;
  grid-column: 1;
  align-self: center;
  justify-self: center;
  display: grid;
}

.center-container {
  grid-row: 1;
  grid-column: 1;
  align-self: center;
  justify-self: center;
}

.element {
  height: 100%;
  width: fit-content;
  transform-origin: center center;
  grid-row: 1;
  grid-column: 1;
  align-self: center;
  justify-self: center;
}
