.container {
  position: relative;
  aspect-ratio: 1;
  width: 100%;
}
.element {
  height: 100%;
  width: fit-content;
  transform-origin: top left;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
